{% extends 'base.html' %}

{% block title %} 
    Home
{% endblock %}

{% block content %} 

List of notebooks:


<li><a href="/time-series-forecasting">Time series forecasting</a></li>

<li><a href="/developing-lstm-models-for-time-series-forecasting">Developing LSTM models for time series forecasting</a></li>

<li><a href="/temporal-data-forecasting-with-lstm">Temporal data forecasting with LSTM</a></li>

<li><a href="/time-series-forecasting-models-for-power-usage">Time series forecasting models for power usage</a></li>

{% endblock %}
